In [196]:
from sklearn import preprocessing, model_selection, svm
import quandl
import pandas as pd
import math
import numpy as np
from sklearn.linear_model import LinearRegression

In [197]:
df = quandl.get('WIKI/GOOGL')

In [198]:
df = df[['Adj. Open', 'Adj. High', 'Adj. Low', 'Adj. Close', 'Adj. Volume']]

In [199]:
df.head()

            Adj. Open  Adj. High   Adj. Low  Adj. Close  Adj. Volume
Date
2004-08-19  50.159839  52.191109  48.128568   50.322842   44659000.0
2004-08-20  50.661387  54.708881  50.405597   54.322689   22834300.0
2004-08-23  55.551482  56.915693  54.693835   54.869377   18256100.0
2004-08-24  55.792225  55.972783  51.945350   52.597363   15247300.0
2004-08-25  52.542193  54.167209  52.100830   53.164113    9188600.0

In [200]:
df['HC_PCT'] = (df['Adj. High'] - df['Adj. Close']) / df['Adj. Close'] * 100.0
df['PCT_change'] = (df['Adj. Close'] - df['Adj. Open']) / df['Adj. Open'] * 100.0

In [201]:
df = df[['Adj. Close','HC_PCT','PCT_change','Adj. Volume']]

In [202]:
df.head()

            Adj. Close    HC_PCT  PCT_change  Adj. Volume
Date
2004-08-19   50.322842  3.712563    0.324968   44659000.0
2004-08-20   54.322689  0.710922    7.227007   22834300.0
2004-08-23   54.869377  3.729433   -1.227880   18256100.0
2004-08-24   52.597363  6.417469   -5.726357   15247300.0
2004-08-25   53.164113  1.886792    1.183658    9188600.0

In [203]:
forecast_col = 'Adj. Close'

In [204]:
df.fillna(-99999, inplace=True)

In [205]:
forecast_out = int(math.ceil(0.01*len(df))) #math.ceil rounds everythik to the nearest number// trying to predict 10% of the data
print(forecast_out)

35

In [206]:
df['label'] = df[forecast_col].shift(-forecast_out)

In [207]:
df.dropna(inplace=True)

In [208]:
df.head()

            Adj. Close    HC_PCT  PCT_change  Adj. Volume      label
Date
2004-08-19   50.322842  3.712563    0.324968   44659000.0  69.078238
2004-08-20   54.322689  0.710922    7.227007   22834300.0  67.839414
2004-08-23   54.869377  3.729433   -1.227880   18256100.0  68.912727
2004-08-24   52.597363  6.417469   -5.726357   15247300.0  70.668146
2004-08-25   53.164113  1.886792    1.183658    9188600.0  71.219849

In [209]:
X = np.array(df.drop(['label'], 1))
y = np.array(df['label'])

In [210]:
X = preprocessing.scale(X)

In [211]:
#X = X[:-forecast_out+1]
#df.dropna(inplace=True)
y=np.array(df['label'])

In [212]:
len(X), len(y)

(3389, 3389)

In [215]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.2) 
clf = LinearRegression(n_jobs=-1)
clf.fit(X_train, y_train)
accuracy = clf.score(X_test, y_test)

In [216]:
accuracy

0.9784197027851895