In [46]:
from sklearn import preprocessing, model_selection, svm
import quandl, datetime
import pandas as pd
import math
import numpy as np
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from matplotlib import style
import pickle
%matplotlib qt

In [47]:
style.use('ggplot')
df = quandl.get('WIKI/GOOGL')

In [48]:
df = df[['Adj. Open', 'Adj. High', 'Adj. Low', 'Adj. Close', 'Adj. Volume']]

In [49]:
df.head()

            Adj. Open  Adj. High   Adj. Low  Adj. Close  Adj. Volume
Date
2004-08-19  50.159839  52.191109  48.128568   50.322842   44659000.0
2004-08-20  50.661387  54.708881  50.405597   54.322689   22834300.0
2004-08-23  55.551482  56.915693  54.693835   54.869377   18256100.0
2004-08-24  55.792225  55.972783  51.945350   52.597363   15247300.0
2004-08-25  52.542193  54.167209  52.100830   53.164113    9188600.0

In [50]:
df['HC_PCT'] = (df['Adj. High'] - df['Adj. Close']) / df['Adj. Close'] * 100.0
df['PCT_change'] = (df['Adj. Close'] - df['Adj. Open']) / df['Adj. Open'] * 100.0

In [51]:
#           price         x         x             x
df = df[['Adj. Close','HC_PCT','PCT_change','Adj. Volume']]

In [52]:
df.head()

            Adj. Close    HC_PCT  PCT_change  Adj. Volume
Date
2004-08-19   50.322842  3.712563    0.324968   44659000.0
2004-08-20   54.322689  0.710922    7.227007   22834300.0
2004-08-23   54.869377  3.729433   -1.227880   18256100.0
2004-08-24   52.597363  6.417469   -5.726357   15247300.0
2004-08-25   53.164113  1.886792    1.183658    9188600.0

In [53]:
forecast_col = 'Adj. Close'

In [54]:
df.fillna(-99999, inplace=True)

In [55]:
forecast_out = int(math.ceil(0.1*len(df))) #math.ceil rounds everythik to the nearest number// trying to predict 10% of the data
print(forecast_out)

343

In [56]:
df['label'] = df[forecast_col].shift(-forecast_out)

In [73]:
df.head()

,Adj. Close,HC_PCT,PCT_change,Adj. Volume,label,Forecast
Date,,,,,,
2004-08-19,50.322842,3.712563,0.324968,44659000.0,214.005615,NaN
2004-08-20,54.322689,0.710922,7.227007,22834300.0,210.725489,NaN
2004-08-23,54.869377,3.729433,-1.227880,18256100.0,208.072299,NaN
2004-08-24,52.597363,6.417469,-5.726357,15247300.0,218.288837,NaN
2004-08-25,53.164113,1.886792,1.183658,9188600.0,223.309335,NaN

In [74]:
X = np.array(df.drop(['label'], 1))
X = preprocessing.scale(X)
X_lately = X[-forecast_out:] # stuff we gonna predict
X = X[:-forecast_out]

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
#X = X[:-forecast_out+1]
#df.dropna(inplace=True)
df.dropna(inplace=True)
y=np.array(df['label'])
y = np.array(df['label'])

In [ ]:
len(X), len(y)

In [ ]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.2) 
# clf = LinearRegression(n_jobs=-1)
# clf.fit(X_train, y_train)
# with open('linearregression.pickle','wb') as f:
#     pickle.dump(clf, f)
    
pickle_in = open('linearregression.pickle','rb')
clf = pickle.load(pickle_in)

accuracy = clf.score(X_test, y_test)

In [ ]:
forecast_set = clf.predict(X_lately)
forecast_set

In [ ]:
accuracy

In [75]:
forecast_out

343

In [76]:
df['Forecast'] = np.nan

In [77]:
last_date = df.iloc[-1].name
last_unix = last_date.timestamp()
one_day = 86400
next_unix = last_unix + one_day

In [78]:
for i in forecast_set:
    next_date = datetime.datetime.fromtimestamp(next_unix)
    next_unix += one_day
    df.loc[next_date] = [np.nan for _ in range(len(df.columns) -1)] + [i]

In [79]:
df['Adj. Close'].plot()
df['Forecast'].plot()
plt.legend(loc=4)
plt.xlabel('Date')
plt.ylabel('Price')
plt.show()