In [58]:
from sklearn import preprocessing, model_selection, svm
import quandl, datetime
import pandas as pd
import math
import numpy as np
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from matplotlib import style
%matplotlib qt

In [59]:
style.use('ggplot')
df = quandl.get('WIKI/GOOGL')

In [60]:
df = df[['Adj. Open', 'Adj. High', 'Adj. Low', 'Adj. Close', 'Adj. Volume']]

In [61]:
df.head()

            Adj. Open  Adj. High   Adj. Low  Adj. Close  Adj. Volume
Date
2004-08-19  50.159839  52.191109  48.128568   50.322842   44659000.0
2004-08-20  50.661387  54.708881  50.405597   54.322689   22834300.0
2004-08-23  55.551482  56.915693  54.693835   54.869377   18256100.0
2004-08-24  55.792225  55.972783  51.945350   52.597363   15247300.0
2004-08-25  52.542193  54.167209  52.100830   53.164113    9188600.0

In [62]:
df['HC_PCT'] = (df['Adj. High'] - df['Adj. Close']) / df['Adj. Close'] * 100.0
df['PCT_change'] = (df['Adj. Close'] - df['Adj. Open']) / df['Adj. Open'] * 100.0

In [63]:
df = df[['Adj. Close','HC_PCT','PCT_change','Adj. Volume']]

In [64]:
df.head()

            Adj. Close    HC_PCT  PCT_change  Adj. Volume
Date
2004-08-19   50.322842  3.712563    0.324968   44659000.0
2004-08-20   54.322689  0.710922    7.227007   22834300.0
2004-08-23   54.869377  3.729433   -1.227880   18256100.0
2004-08-24   52.597363  6.417469   -5.726357   15247300.0
2004-08-25   53.164113  1.886792    1.183658    9188600.0

In [65]:
forecast_col = 'Adj. Close'

In [66]:
df.fillna(-99999, inplace=True)

In [67]:
forecast_out = int(math.ceil(0.01*len(df))) #math.ceil rounds everythik to the nearest number// trying to predict 10% of the data
print(forecast_out)

35

In [68]:
df['label'] = df[forecast_col].shift(-forecast_out)

In [69]:
df.head()

            Adj. Close    HC_PCT  PCT_change  Adj. Volume      label
Date
2004-08-19   50.322842  3.712563    0.324968   44659000.0  69.078238
2004-08-20   54.322689  0.710922    7.227007   22834300.0  67.839414
2004-08-23   54.869377  3.729433   -1.227880   18256100.0  68.912727
2004-08-24   52.597363  6.417469   -5.726357   15247300.0  70.668146
2004-08-25   53.164113  1.886792    1.183658    9188600.0  71.219849

In [70]:
X = np.array(df.drop(['label'], 1))
X = preprocessing.scale(X)
X_lately = X[-forecast_out:] # stuff we gonna predict

In [71]:
X = X[:-forecast_out]

In [72]:
#X = X[:-forecast_out+1]
#df.dropna(inplace=True)
df.dropna(inplace=True)
y=np.array(df['label'])
y = np.array(df['label'])

In [73]:
len(X), len(y)

(3389, 3389)

In [74]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.2) 
clf = LinearRegression(n_jobs=-1)
clf.fit(X_train, y_train)
accuracy = clf.score(X_test, y_test)

In [75]:
forecast_set = clf.predict(X_lately)
forecast_set

array([1101.90817005, 1072.10109859, 1018.97989759, 1060.5811604 ,
       1072.68211703, 1072.99751616, 1091.64318609, 1110.84337102,
       1114.02036938, 1122.09706072, 1131.33669014, 1128.78190006,
       1148.26998446, 1163.89938391, 1135.42863634, 1121.69014864,
       1087.43987341, 1102.79336664, 1113.78568163, 1120.7353652 ,
       1134.62686026, 1149.27413275, 1180.76028508, 1185.15781977,
       1157.00390904, 1168.07764838, 1169.91675746, 1152.62618731,
       1118.02073992, 1114.49488859, 1112.31216241, 1069.45198513,
       1041.79589256, 1072.52855171, 1020.54112138])

In [76]:
accuracy

0.978461391096718

In [77]:
forecast_out

35

In [78]:
df['Forecast'] = np.nan

In [79]:
last_date = df.iloc[-1].name
last_unix = last_date.timestamp()
one_day = 86400
next_unix = last_unix + one_day

In [80]:
for i in forecast_set:
    next_date = datetime.datetime.fromtimestamp(next_unix)
    next_unix += one_day
    df.loc[next_date] = [np.nan for _ in range(len(df.columns) -1)] + [i]

In [82]:
df['Adj. Close'].plot()
df['Forecast'].plot()
plt.legend(loc=4)
plt.xlabel('Date')
plt.ylabel('Price')
plt.show()