In [98]:
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')
import numpy as np
from sklearn.cluster import MeanShift
from sklearn import preprocessing
import pandas as pd

In [99]:
df = pd.read_excel('titanic.xls')
original_df = pd.DataFrame.copy(df)

In [100]:
df.drop(['body','name'], 1, inplace=True)

In [101]:
#df.convert_objects(convert_numeric=True)
df.fillna(0, inplace=True)

In [102]:
def handle_non_numerical_data(df):
    
    # handling non-numerical data: must convert.
    columns = df.columns.values

    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        #print(column,df[column].dtype)
        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            
            column_contents = df[column].values.tolist()
            #finding just the uniques
            unique_elements = set(column_contents)
            # great, found them. 
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    # creating dict that contains new
                    # id per unique string
                    text_digit_vals[unique] = x
                    x+=1
            # now we map the new "id" vlaue
            # to replace the string. 
            df[column] = list(map(convert_to_int,df[column]))

    return df

df = handle_non_numerical_data(df)
df.drop(['ticket','home.dest'], 1, inplace=True)

X = np.array(df.drop(['survived'], 1).astype(float))
X = preprocessing.scale(X)
y = np.array(df['survived'])

clf = MeanShift()
clf.fit(X)

MeanShift(bandwidth=None, bin_seeding=False, cluster_all=True, min_bin_freq=1,
     n_jobs=1, seeds=None)

In [103]:
labels = clf.labels_
cluster_centers = clf.cluster_centers_
original_df['cluster_group']=np.nan

In [113]:
for i in range(len(X)):
    original_df['cluster_group'].iloc[i] = labels[i]
    
n_clusters_ = len(np.unique(labels))
survival_rates = {}
for i in range(n_clusters_):
    temp_df = original_df[ (original_df['cluster_group']==float(i)) ]
    #print(temp_df.head())

    survival_cluster = temp_df[  (temp_df['survived'] == 1) ]

    survival_rate = len(survival_cluster) / len(temp_df)
    #print(i,survival_rate)
    survival_rates[i] = survival_rate
    
print(survival_rates)

IndentationError: unexpected indent (<ipython-input-113-93ee97032673>, line 12)

In [105]:
print(original_df[ (original_df['cluster_group']==1) ])

      pclass  survived                                               name  \
0          1         1                      Allen, Miss. Elisabeth Walton
1          1         1                     Allison, Master. Hudson Trevor
2          1         0                       Allison, Miss. Helen Loraine
3          1         0               Allison, Mr. Hudson Joshua Creighton
4          1         0    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
10         1         0                             Astor, Col. John Jacob
11         1         1  Astor, Mrs. John Jacob (Madeleine Talmadge Force)
16         1         0                           Baxter, Mr. Quigg Edmond
17         1         1    Baxter, Mrs. James (Helene DeLaudeniere Chaput)
23         1         1                              Bidois, Miss. Rosalie
24         1         1                                  Bird, Miss. Ellen
35         1         1                           Bowen, Miss. Grace Scott
54         1         1                Carter, Master. William Thornton II
55         1         1                          Carter, Miss. Lucile Polk
56         1         1                         Carter, Mr. William Ernest
57         1         1          Carter, Mrs. William Ernest (Lucile Polk)
66         1         1                        Chaudanson, Miss. Victorine
97         1         1  Douglas, Mrs. Frederick Charles (Mary Helene B...
103        1         1                      Endres, Miss. Caroline Louise
106        1         0                                 Farthing, Mr. John
111        1         1                     Fortune, Miss. Alice Elizabeth
112        1         1                         Fortune, Miss. Ethel Flora
113        1         1                         Fortune, Miss. Mabel Helen
114        1         0                     Fortune, Mr. Charles Alexander
119        1         1                      Frauenthal, Dr. Henry William
121        1         1  Frauenthal, Mrs. Henry William (Clara Heinshei...
129        1         1                               Geiger, Miss. Amalie
139        1         1      Graham, Mrs. William Thompson (Edith Junkins)
180        1         1                             Kreuchen, Miss. Emilie
193        1         1                  Madill, Miss. Georgette Alexandra
238        1         1  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...
249        1         1                        Ryerson, Master. John Borie
250        1         1                         Ryerson, Miss. Emily Borie
251        1         1              Ryerson, Miss. Susan Parker "Suzette"
275        1         1  Spedden, Mrs. Frederic Oakley (Margaretta Corn...
285        1         0                                 Straus, Mr. Isidor
286        1         0             Straus, Mrs. Isidor (Rosalie Ida Blun)
309        1         1                           Wick, Miss. Mary Natalie
310        1         0                           Wick, Mr. George Dennick
311        1         1         Wick, Mrs. George Dennick (Mary Hitchcock)
312        1         0                         Widener, Mr. George Dunton
314        1         1       Widener, Mrs. George Dunton (Eleanor Elkins)
1170       3         0                         Sage, Master. Thomas Henry
1171       3         0                        Sage, Master. William Henry
1172       3         0                                    Sage, Miss. Ada
1173       3         0                       Sage, Miss. Constance Gladys
1174       3         0                  Sage, Miss. Dorothy Edith "Dolly"
1175       3         0                            Sage, Miss. Stella Anna
1176       3         0                           Sage, Mr. Douglas Bullen
1177       3         0                                Sage, Mr. Frederick
1178       3         0                           Sage, Mr. George John Jr

         sex      age  sibsp  parch    ticket      fare            cabin  \
0     female  29.0000      0      0     24160  211.3375               B5
1       male   0.9167      1      2    113781  151.5500          C22 C26
2     female   2.0000      1      2    113781  151.5500          C22 C26
3       male  30.0000      1      2    113781  151.5500          C22 C26
4     female  25.0000      1      2    113781  151.5500          C22 C26
10      male  47.0000      1      0  PC 17757  227.5250          C62 C64
11    female  18.0000      1      0  PC 17757  227.5250          C62 C64
16      male  24.0000      0      1  PC 17558  247.5208          B58 B60
17    female  50.0000      0      1  PC 17558  247.5208          B58 B60
23    female  42.0000      0      0  PC 17757  227.5250              NaN
24    female  29.0000      0      0  PC 17483  221.7792              C97
35    female  45.0000      0      0  PC 17608  262.3750              NaN
54      male  11.0000      1      2    113760  120.0000          B96 B98
55    female  14.0000      1      2    113760  120.0000          B96 B98
56      male  36.0000      1      2    113760  120.0000          B96 B98
57    female  36.0000      1      2    113760  120.0000          B96 B98
66    female  36.0000      0      0  PC 17608  262.3750              B61
97    female  27.0000      1      1  PC 17558  247.5208          B58 B60
103   female  38.0000      0      0  PC 17757  227.5250              C45
106     male      NaN      0      0  PC 17483  221.7792              C95
111   female  24.0000      3      2     19950  263.0000      C23 C25 C27
112   female  28.0000      3      2     19950  263.0000      C23 C25 C27
113   female  23.0000      3      2     19950  263.0000      C23 C25 C27
114     male  19.0000      3      2     19950  263.0000      C23 C25 C27
119     male  50.0000      2      0  PC 17611  133.6500              NaN
121   female      NaN      1      0  PC 17611  133.6500              NaN
129   female  35.0000      0      0    113503  211.5000             C130
139   female  58.0000      0      1  PC 17582  153.4625             C125
180   female  39.0000      0      0     24160  211.3375              NaN
193   female  15.0000      0      1     24160  211.3375               B5
238   female  43.0000      0      1     24160  211.3375               B3
249     male  13.0000      2      2  PC 17608  262.3750  B57 B59 B63 B66
250   female  18.0000      2      2  PC 17608  262.3750  B57 B59 B63 B66
251   female  21.0000      2      2  PC 17608  262.3750  B57 B59 B63 B66
275   female  40.0000      1      1     16966  134.5000              E34
285     male  67.0000      1      0  PC 17483  221.7792          C55 C57
286   female  63.0000      1      0  PC 17483  221.7792          C55 C57
309   female  31.0000      0      2     36928  164.8667               C7
310     male  57.0000      1      1     36928  164.8667              NaN
311   female  45.0000      1      1     36928  164.8667              NaN
312     male  50.0000      1      1    113503  211.5000              C80
314   female  50.0000      1      1    113503  211.5000              C80
1170    male      NaN      8      2  CA. 2343   69.5500              NaN
1171    male  14.5000      8      2  CA. 2343   69.5500              NaN
1172  female      NaN      8      2  CA. 2343   69.5500              NaN
1173  female      NaN      8      2  CA. 2343   69.5500              NaN
1174  female      NaN      8      2  CA. 2343   69.5500              NaN
1175  female      NaN      8      2  CA. 2343   69.5500              NaN
1176    male      NaN      8      2  CA. 2343   69.5500              NaN
1177    male      NaN      8      2  CA. 2343   69.5500              NaN
1178    male      NaN      8      2  CA. 2343   69.5500              NaN

     embarked boat   body                        home.dest  cluster_group
0           S    2    NaN                     St Louis, MO            1.0
1           S   11    NaN  Montreal, PQ / Chesterville, ON            1.0
2           S  NaN    NaN  Montreal, PQ / Chesterville, ON            1.0
3           S  NaN  135.0  Montreal, PQ / Chesterville, ON            1.0
4           S  NaN    NaN  Montreal, PQ / Chesterville, ON            1.0
10          C  NaN  124.0                     New York, NY            1.0
11          C    4    NaN                     New York, NY            1.0
16          C  NaN    NaN                     Montreal, PQ            1.0
17          C    6    NaN                     Montreal, PQ            1.0
23          C    4    NaN                              NaN            1.0
24          S    8    NaN                              NaN            1.0
35          C    4    NaN                  Cooperstown, NY            1.0
54          S    4    NaN                    Bryn Mawr, PA            1.0
55          S    4    NaN                    Bryn Mawr, PA            1.0
56          S    C    NaN                    Bryn Mawr, PA            1.0
57          S    4    NaN                    Bryn Mawr, PA            1.0
66          C    4    NaN                              NaN            1.0
97          C    6    NaN                     Montreal, PQ            1.0
103         C    4    NaN                     New York, NY            1.0
106         S  NaN    NaN                              NaN            1.0
111         S   10    NaN                     Winnipeg, MB            1.0
112         S   10    NaN                     Winnipeg, MB            1.0
113         S   10    NaN                     Winnipeg, MB            1.0
114         S  NaN    NaN                     Winnipeg, MB            1.0
119         S    5    NaN                     New York, NY            1.0
121         S    5    NaN                     New York, NY            1.0
129         C    4    NaN                              NaN            1.0
139         S    3    NaN                    Greenwich, CT            1.0
180         S    2    NaN                              NaN            1.0
193         S    2    NaN                     St Louis, MO            1.0
238         S    2    NaN                     St Louis, MO            1.0
249         C    4    NaN  Haverford, PA / Cooperstown, NY            1.0
250         C    4    NaN  Haverford, PA / Cooperstown, NY            1.0
251         C    4    NaN  Haverford, PA / Cooperstown, NY            1.0
275         C    3    NaN                  Tuxedo Park, NY            1.0
285         S  NaN   96.0                     New York, NY            1.0
286         S  NaN    NaN                     New York, NY            1.0
309         S    8    NaN                   Youngstown, OH            1.0
310         S  NaN    NaN                   Youngstown, OH            1.0
311         S    8    NaN                   Youngstown, OH            1.0
312         C  NaN    NaN                  Elkins Park, PA            1.0
314         C    4    NaN                  Elkins Park, PA            1.0
1170        S  NaN    NaN                              NaN            1.0
1171        S  NaN   67.0                              NaN            1.0
1172        S  NaN    NaN                              NaN            1.0
1173        S  NaN    NaN                              NaN            1.0
1174        S  NaN    NaN                              NaN            1.0
1175        S  NaN    NaN                              NaN            1.0
1176        S  NaN    NaN                              NaN            1.0
1177        S  NaN    NaN                              NaN            1.0
1178        S  NaN    NaN                              NaN            1.0

In [106]:
print(original_df[ (original_df['cluster_group']==0) ].describe())

            pclass     survived         age        sibsp        parch  \
count  1239.000000  1239.000000  988.000000  1239.000000  1239.000000
mean      2.337369     0.372881   29.523532     0.427764     0.294592
std       0.814340     0.483766   14.278212     0.833121     0.645272
min       1.000000     0.000000    0.166700     0.000000     0.000000
25%       2.000000     0.000000   21.000000     0.000000     0.000000
50%       3.000000     0.000000   28.000000     0.000000     0.000000
75%       3.000000     1.000000   38.000000     1.000000     0.000000
max       3.000000     1.000000   80.000000     5.000000     4.000000

              fare        body  cluster_group
count  1238.000000  115.000000         1239.0
mean     24.770893  161.452174            0.0
std      27.381611   98.333504            0.0
min       0.000000    1.000000            0.0
25%       7.895800   71.000000            0.0
50%      13.000000  165.000000            0.0
75%      27.720800  257.000000            0.0
max     227.525000  328.000000            0.0

In [107]:
print(original_df[ (original_df['cluster_group']==4) ])

      pclass  survived                                               name  \
629        3         0                        Andersson, Mr. Anders Johan
632        3         0  Andersson, Mrs. Anders Johan (Alfrida Konstant...
644        3         0         Asplund, Mr. Carl Oscar Vilhelm Gustafsson
646        3         1  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
831        3         0                     Goodwin, Mr. Charles Frederick
832        3         0            Goodwin, Mrs. Frederick (Augusta Tyler)
1106       3         0             Panula, Mrs. Juha (Maria Emilia Ojala)
1146       3         0               Rice, Mrs. William (Margaret Norton)
1179       3         0                              Sage, Mr. John George
1180       3         0                     Sage, Mrs. John (Annie Bullen)

         sex   age  sibsp  parch    ticket     fare cabin embarked boat  \
629     male  39.0      1      5    347082  31.2750   NaN        S  NaN
632   female  39.0      1      5    347082  31.2750   NaN        S  NaN
644     male  40.0      1      5    347077  31.3875   NaN        S  NaN
646   female  38.0      1      5    347077  31.3875   NaN        S   15
831     male  40.0      1      6   CA 2144  46.9000   NaN        S  NaN
832   female  43.0      1      6   CA 2144  46.9000   NaN        S  NaN
1106  female  41.0      0      5   3101295  39.6875   NaN        S  NaN
1146  female  39.0      0      5    382652  29.1250   NaN        Q  NaN
1179    male   NaN      1      9  CA. 2343  69.5500   NaN        S  NaN
1180  female   NaN      1      9  CA. 2343  69.5500   NaN        S  NaN

       body                             home.dest  cluster_group
629     NaN                   Sweden Winnipeg, MN            4.0
632     NaN                   Sweden Winnipeg, MN            4.0
644   142.0                 Sweden  Worcester, MA            4.0
646     NaN                 Sweden  Worcester, MA            4.0
831     NaN  Wiltshire, England Niagara Falls, NY            4.0
832     NaN  Wiltshire, England Niagara Falls, NY            4.0
1106    NaN                                   NaN            4.0
1146  327.0                                   NaN            4.0
1179    NaN                                   NaN            4.0
1180    NaN                                   NaN            4.0